[Unit]
Description=PrivDNS Gateway IP registration and iOS profile HTTP socket

[Socket]
ListenStream=0.0.0.0:8111
Accept=yes

[Install]
WantedBy=sockets.target
